:root {
    --main-dark : #1e1e1e;
}
.item-name,
.item-price,
.item-description {
    margin: 0;
    padding: 0.5rem;
}

.menu-item{
    border-radius: 25px;
    background-color: #F5F5F5;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name {
    font-size: 2rem;
    font-weight: bolder;
}

.item-price {
    font-size: 1.25rem;
    font-weight: bold;
}

.item-image {
    width: 80%;
    height: auto;
    margin-top: auto;
    border-radius: 10px;
}

