.menu {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
}

@media only screen and (max-width: 500px){

}